*{  box-sizing:border-box;
    margin: 0px;
    padding: 0px;

    
}

.bgMain{
    z-index: -1;
    position: fixed;
}

.logo{
    cursor: pointer;
    
    width: 100px;
    height: auto;
    border-radius: 100px;}
    
   



nav{
    background-color: rgb(0, 0, 0,0.4);
   
    
}.nav_links{
    list-style:none;
    float:right;
    padding-top: 40px;
    position: relative;
}
.nav_links li{
    display: inline-block;
    padding:0px 20px;

    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
}

    

li,a,button{
    font-family: "montserrat",sams-serif;
    font-weight:500;
    font-size: 16px;
    color:brown;
    text-decoration:none;}

    .input[type=text]{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;}
  
    

     
  

        
     
.cent{
    position: absolute;
    left:45%;
    top:20%;

  }
  
  .main{
    border:1px dotted white;
   border-radius: 1px;
   padding: 5px;
   width: 600px;
   height:500px;
   position: absolute;
   top:150px;
  }
  /*VIDEO*/
  .home4{
    border-radius: 4px;
    padding: 20px;
    width: 400px;
    border: 1px dotted ;
    margin: 0;
    
    
  }
  .footernav ul li a{
    color:#ddd;
    margin:20px;
    text-decoration:none;
}
.footernav ul{
    display:flex;
    justify-content: right;
    list-style: none;
    
}
.footerbottom{
    padding: 20px;
    text-align:end;
    justify-content: right;
    background-color: antiquewhite;
    opacity: 0.5;
    bottom: 0%;
}
/*ANIMATIONS*/
.blinking-element {
    animation: blink-animation 1s infinite; /* 1s duration, infinite loop */
    position: absolute;
    top: 700px;
    left: 40px;
    border: crimson;
  }
  
  @keyframes blink-animation {
    0% { opacity: 0; } /* Start with hidden */
    50% { opacity: 1; } /* Blink at 50% keyframe */
    100% { opacity: 0; } /* Disappear again */
  }
  .home2{
    font-size: 18px;
    font-family: cursive;
  }
  @media screen and (max-width: 768px){nav,.nav_links,.nav_links li,.logo,.main,.cent,.home4,.footerbottom,.footernav,.footercontainer,li,a,button,.home2,.td,th{max-width: 100%;
    height: auto;
    

    } 
  }
  @media screen and (max-width: 768px){nav,.nav_links,.nav_links li,li,a,button
    {max-width: 100%;
    height: auto;
  
  }
  }
    
  